{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons',
    class: 'my-class'
  %}
{% endcomment %}

<ul class="list-unstyled list-social{% if class %} {{ class}}{% endif %}" role="list">
  {%- if settings.social_facebook_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_facebook_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.5" y="0.5" width="46" height="46" rx="22" stroke="black"/>
<path d="M34.1562 23.5C34.1562 17.6133 29.3867 12.8438 23.5 12.8438C17.6133 12.8438 12.8438 17.6133 12.8438 23.5C12.8438 28.8187 16.7406 33.2273 21.835 34.0273V26.5804H19.1279V23.5H21.835V21.1522C21.835 18.4817 23.4248 17.0066 25.8598 17.0066C27.026 17.0066 28.2455 17.2145 28.2455 17.2145V19.8356H26.9014C25.578 19.8356 25.165 20.6572 25.165 21.4998V23.5H28.1204L27.6478 26.5804H25.165V34.0273C30.2594 33.2273 34.1562 28.8187 34.1562 23.5Z" fill="black"/>
</svg>

        </span>
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_instagram_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.5" y="0.5" width="46" height="46" rx="22" stroke="black"/>
<path d="M23.5043 18.5585C20.7715 18.5585 18.5672 20.7628 18.5672 23.4957C18.5672 26.2285 20.7715 28.4328 23.5043 28.4328C26.2372 28.4328 28.4415 26.2285 28.4415 23.4957C28.4415 20.7628 26.2372 18.5585 23.5043 18.5585ZM23.5043 26.7054C21.7383 26.7054 20.2946 25.266 20.2946 23.4957C20.2946 21.7253 21.734 20.2859 23.5043 20.2859C25.2747 20.2859 26.7141 21.7253 26.7141 23.4957C26.7141 25.266 25.2704 26.7054 23.5043 26.7054ZM29.795 18.3566C29.795 18.9968 29.2793 19.5082 28.6434 19.5082C28.0032 19.5082 27.4918 18.9925 27.4918 18.3566C27.4918 17.7207 28.0075 17.205 28.6434 17.205C29.2793 17.205 29.795 17.7207 29.795 18.3566ZM33.0649 19.5253C32.9918 17.9828 32.6395 16.6164 31.5094 15.4906C30.3836 14.3648 29.0172 14.0125 27.4747 13.9351C25.8848 13.8449 21.1196 13.8449 19.5297 13.9351C17.9915 14.0082 16.625 14.3605 15.495 15.4863C14.3649 16.6121 14.0168 17.9785 13.9395 19.521C13.8493 21.1109 13.8493 25.8761 13.9395 27.466C14.0125 29.0085 14.3649 30.375 15.495 31.5007C16.625 32.6265 17.9872 32.9789 19.5297 33.0562C21.1196 33.1464 25.8848 33.1464 27.4747 33.0562C29.0172 32.9832 30.3836 32.6308 31.5094 31.5007C32.6352 30.375 32.9875 29.0085 33.0649 27.466C33.1551 25.8761 33.1551 21.1152 33.0649 19.5253ZM31.011 29.1718C30.6758 30.014 30.027 30.6628 29.1805 31.0023C27.9129 31.505 24.9051 31.389 23.5043 31.389C22.1036 31.389 19.0915 31.5007 17.8282 31.0023C16.986 30.6671 16.3372 30.0183 15.9977 29.1718C15.495 27.9042 15.611 24.8964 15.611 23.4957C15.611 22.0949 15.4993 19.0828 15.9977 17.8195C16.3329 16.9773 16.9817 16.3285 17.8282 15.989C19.0958 15.4863 22.1036 15.6023 23.5043 15.6023C24.9051 15.6023 27.9172 15.4906 29.1805 15.989C30.0227 16.3242 30.6715 16.973 31.011 17.8195C31.5137 19.0871 31.3977 22.0949 31.3977 23.4957C31.3977 24.8964 31.5137 27.9085 31.011 29.1718Z" fill="black"/>
</svg>

        </span>
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_youtube_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-youtube.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tiktok_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-tiktok.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_twitter_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-twitter.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_pinterest_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-pinterest.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_snapchat_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-snapchat.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tumblr_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-tumblr.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_vimeo_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-vimeo.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
